<?xml version="1.0" encoding="utf-8"?>

<Specification>
    <!-- use to define alternative path to specification documents - default = your test DLL -->
    <BaseInputDirectory path="../../../../doc" />

    <!-- use to define file extensions of your specification documents - default = html -->
    <SpecificationFileExtensions>
        <FileExtension name="html" />
        <FileExtension name="xhtml" />
    </SpecificationFileExtensions>

    <!-- use to define Concordion Extensions to use
    <ConcordionExtensions>
        <Extension assembly="Concordion.Spec" type="Concordion.Spec.Concordion.Extension.Command.CommandExtension" />
    </ConcordionExtensions>
    -->
</Specification>
